Describe the null hypotheses to which the p-values given in Table 3.4 correspond. Explain what conclusions you can draw based on these p-values. Your explanation should be phrased in terms of sales, TV, radio, and newspaper, rather than in terms of the coefficients of the linear model.

In [16]:
# 8.
import pandas as pd
import numpy as np
import statsmodels.api as sm

auto_df = pd.read_csv("Auto.csv")

# Tar bort alla sankande värden
auto_df = auto_df.drop(auto_df[auto_df.values == "?"].index)
auto_df = auto_df.reset_index()
auto_df.head(10)

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [17]:
# Konverterar kvantitiva variabler till numeriska. 

datatype = {"quant": ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "year"], 
            "qual": ["origin", "name"]}

quants = auto_df[datatype["quant"]].astype(np.float_)
auto_df = pd.concat([quants, auto_df[datatype["qual"]]], axis=1)

In [ ]:
# börjar med att implementera linjär regression from början med hjälp av numpy.

intercept_const = pd.DataFrame({"intercept": np.ones(auto_df.shape[0])})

X = pd.concat([intercept_const, auto_df["horsepower"]], axis=1)
y = auto_df["mpg"]

def linear_model(X, y):
    # Estimation av parametrar för den linjära regressions modellen med OLS, ordinary least squares. 
    XTX_inv = np.linalg.inv(X.T @ X)
    XTy = X.T @ y
    beta = XTX_inv @ XTy
    return beta

def predict(beta, X):
    # Förutspår y given beta parametrar och X variabler
    return X @ beta

beta = linear_model(X, y)
y_pred = predict(beta, X)